@charset "utf-8";

.oubodone_frame{
    background: skyblue;
    width: 100%;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.oubo_h1{
    color: black;
}
.oubo_content_frame{
    width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.oubo_p{
    display: flex;
    justify-content: center;
}
.back_frame{
    margin: 5rem auto;
    border: 0.1rem solid black;
    background: grey;
}
.back_to_list{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}